.mat-toolbar {
  background-color: red !important;
  color: white !important; 
}

.mat-button, .mat-raised-button, .mat-flat-button {
  background-color: red !important; 
  color: white !important; 
}

.mat-button:hover, .mat-raised-button:hover, .mat-flat-button:hover {
  background-color: darkred !important; 
}
