.mat-toolbar {
  background-color: red !important; /* Fondo rojo */
  color: white !important; /* Texto blanco */
}

.mat-button, .mat-raised-button, .mat-flat-button {
  background-color: red !important; /* Fondo rojo */
  color: white !important; /* Texto blanco */
}

.mat-button:hover, .mat-raised-button:hover, .mat-flat-button:hover {
  background-color: darkred !important; /* Color más oscuro al pasar el ratón */
}
