/* ticket.component.css */
.ticket-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mat-form-field {
    width: 100%; /* Asegúrate de que los campos ocupen todo el ancho */
  }
  
  .list-group {
    max-height: 200px;
    overflow-y: auto;
  }

  