<div class="login-container d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #f8f9fa;">
  <div class="card" style="width: 300px;">
    <!-- Imagen sobre la tarjeta -->
    <div class="image-container">
      <img src="assets/Nuevo-Logo-CoasinLogicalis.png" alt="Descripción de la imagen" class="foto">
    </div>
  
    <div class="card-body">
      <form (ngSubmit)="login()">
        
        <div class="mb-3">
          <label for="username" class="form-label">Nombre de Usuario</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required>
        </div>

        <button type="submit" class="btn" style="background-color: #f44336; color: white; width: 100%;">Ingresar</button> 

      </form>
      
    </div>
    <div 
      *ngIf="successMessage" 
      class="alert alert-success">
      {{ successMessage }}
    </div>
    <div 
      *ngIf="errorMessage" 
      class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </div>
</div>
